# Virtual Environment
venv
virtual-environment

# Environment Variable File
.env

# Cashed Files Created During Execution/Run
__pycache__/*
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.cpython-*.pyc

# Locally Saved Chroma DB Vector Database
chroma_db

.serverless

node_modules

